/* static/styles.css */
body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
}

table {
    width: 100%; /* Table takes up the full width of its container */
    margin-top: 20px;
    border-collapse: collapse; /* Optional: Makes sure borders collapse into single borders */
}

thead th {
    background-color: #007bff;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    margin-right: 10px;
    width: 300px;
}

form button,
a.button {
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Ensure table cells have adequate padding */
td, th {
    padding: 8px;
    text-align: left;
}

/* Navbar styling */
nav {
    background-color: #007BFF; /* Blue background color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures the navbar spans the full width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping of items */
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}
nav ul li {
    margin: 0 2vw; /* Spacing between links */
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #f0f0f0; /* Lighter color on hover */
    text-decoration: underline;
}
.btn-add-project {
    background-color: #28a745; /* Green button color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn-add-project:hover {
    background-color: #218838; /* Darker green on hover */
}
