body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


/* Styling for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}