<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salesman Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <ul>
            {% for sheet_name in sheets %}
                <li><a href="{{ url_for('data', sheet=sheet_name) }}">{{ sheet_name }}</a></li>
            {% endfor %}
            {% if 'logged_in' in session %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnQDw4x0QGmuqII_tCxp0TFwijMU0lwE_Owx4sZ2gKo0wkQA/viewform?usp=sf_link" class="btn-add-project">Add New Project</a>
    </nav>

    <!-- Main content -->
    <div class="content">
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </div>
</body>
</html>
